body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a6f7be; 
}
.container {
    text-align: center;
    background-color: #4e994b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.89);
    width: 90%;
    max-width: 600px;
    border: 3px solid #331e0a;
}
h1 {
    color: #331e0a;
}
p {
    color: #0e0805;
    font-size: 1.1em;
}

/* Estilo para o campo de entrada */
input[type="password"] {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(53, 30, 16);
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
}